@import "../../Styles/StyleData.scss";

.shop-section {
  margin-top: 7rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  justify-content: center;
  margin: 0 2rem 2rem 2rem;
}

.category {
  padding: 0 80px;
  margin: 50px 0;
  height: 50px;
  display: flex;
  align-items: center;
  button {
    margin: 0 20px;
    border: none;
    background-color: $white;
    font-size: $fs-s;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &:hover {
      color: $dark-gray;
      text-decoration: underline;
    }
  }
}

.active-btn {
  color: $dark-gray;
  text-decoration: underline;
}

.inactive-btn {
  color: $light-gray;
}
