@import "../../Styles/StyleData.scss";

.cart-container {
  h2 {
    text-align: center;
    color: $purple;
  }
  #error {
    color: $error;
  }
  max-width: 80%;
  margin: 100px auto 15px auto;
  .cart {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    .cart-detail {
      width: 70%;
      margin-right: 1rem;
      table {
        width: 100%;
        text-align: center;
        #quantity {
          display: flex;
          justify-content: center;
          button {
            cursor: pointer;
            padding: 4px 15px;
            background-color: $white;
            border: 1px solid lightgrey;
            color: $purple;
          }
          button:hover {
            background-color: $purple;
            color: $white;
          }
          button:focus {
            box-shadow: 0 0 3px #4f7294b3;
          }
          div {
            padding: 4px 15px;
            text-align: center;
            border: 1px solid lightgrey;
            font-size: 20px;
          }
        }
      }
      table,
      th,
      td {
        border: 1px solid lightgrey;
        border-collapse: collapse;
        padding: 0.5rem;
      }
      #delete {
        font-size: $fs-m;
        color: $error;
        cursor: pointer;
        border: none;
        background: $white;
        padding: 0.4rem;
        border-radius: 30%;
      }
      #delete:focus {
        box-shadow: 0 0 3px #944f4fb3;
      }
    }
    .cart-counter {
      margin-left: 3rem;
      h3 {
        color: $purple;
        margin-bottom: 10px;
      }
      button {
        margin-top: 1rem;
        cursor: pointer;
        padding: 10px 30px;
        background-color: $white;
        border: 1px solid lightgrey;
        color: $purple;
        border-radius: 10px;
      }
      button:hover {
        background-color: $purple;
        color: $white;
      }
      button:focus {
        box-shadow: 0 0 3px #485e74b3;
      }
      span {
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #cart {
    flex-direction: column-reverse;
    .cart-detail {
      width: 100%;
      margin-right: 0;
    }
    .cart-counter {
      margin-left: 0;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }
}

@media only screen and (max-width: 565px) {
  .cart-container {
    max-width: 90%;
  }
  #cart {
    .cart-detail {
      overflow: auto;
      #quantity {
        flex-direction: column;
        button {
          padding: 13px 0;
        }
      }
    }
  }
}
