@import "../../Styles/StyleData.scss";

.login-container {
  display: flex;
  align-items: center;
  min-height: 95vh;
  font-family: $p-ff;
  padding: 0.8rem;
  h2 {
    font-size: $fs-l;
    margin-bottom: 2rem;
    color: $purple;
    font-family: $s-ff;
  }
  .create-input {
    margin: 10px 0;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  .input {
    border: none;
    width: 100%;
    padding: 13px;
    font-size: 1rem;
    border-radius: 10px;
  }
  .input:focus {
    outline: none;
  }
  .error {
    color: $error;
  }
  .password {
    width: 90%;
  }
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .eye {
    font-size: 1.2rem;
    color: $purple;
  }
  #remember {
    margin-right: 0.5rem;
  }
  .login-icon {
    font-size: 2.3rem;
    color: $purple;
    cursor: pointer;
  }
  #fb-icon {
    margin-right: 1.2rem;
  }
  .text-center {
    text-align: center;
    margin-top: 0.8rem;
    font-size: $fs-s;
  }
  .switch {
    font-size: $fs-s;
    text-align: center;
  }
  @mixin btn {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px 0;
    font-size: $fs-s;
    cursor: pointer;
  }
  .login-btn {
    @include btn;
    width: 100%;
    background-color: $purple;
    color: white;
  }
  .login-btn:focus,
  .logout-btn:focus {
    box-shadow: 2px 5px 20px #cccccc;
  }
  .switch-link {
    color: $purple;
    cursor: pointer;
    margin-left: 5px;
  }
  .main-error {
    margin-bottom: 0.8rem;
    max-width: 420px;
  }
  .logout-btn {
    @include btn;
    background-color: $error;
    color: white;
  }
  .login-from {
    max-width: 650px;
    min-width: 420px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
  }
}
