$purple: #717fe0; /*Accent Color*/
$dark-gray: #333333; /*Primary Color*/
$light-gray: #888888; /*Secondary Color*/
$white: #fff; /*Background Color*/
$error: #ff3d3d;

$p-ff: "Poppins", sans-serif; /*Primary font family*/
$s-ff: "Playfair Display", serif; /*Secondary font family*/

$fs-s: 1rem; /* font size small */
$fs-m: 1.5rem; /* font size medium */
$fs-l: 2rem; /* font size large */
$fs-xl: 3rem; /* font size extra-large */
