@import "../../../Styles/StyleData.scss";

#logo {
  color: $purple;
}

#home {
  font-size: $fs-s;
}

#shop {
  font-size: $fs-m;
}

#about {
  font-size: $fs-l;
}

#contact {
  font-size: $fs-xl;
}
