@import "../../../Styles/StyleData.scss";

.white {
  background-color: #fff;
  transition: all ease-in-out 200ms;
  height: 4rem;
}

.transparent {
  background-color: transparent;
  transition: all ease-in-out 200ms;
  height: 4.5rem;
}

.user-name {
  color: rgb(41, 41, 41) !important;
  font-size: 0.9rem;
}

.user-logo {
  border-radius: 50%;
  height: 40px;
  margin-left: 15px;
  margin-top: 2px;
}

nav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  color: $dark-gray;
  z-index: 5;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  margin: 0 auto;
  ul {
    width: 65%;
    margin-left: 3rem;
  }
}

.nav-logo {
  color: $dark-gray;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  margin: 0;
  font-size: $fs-xs;
  font-weight: 600;
  cursor: pointer;
  a {
    color: $light-gray;
    transition: all ease-in-out 200ms;
    margin-top: 3px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.cart-button {
  margin-left: auto;
  display: block;
  margin-bottom: 3px;
  a {
    position: relative;
    span {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $purple;
      border-radius: 50%;
      padding: 0.7rem;
      height: 1.3rem;
      width: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
    }
  }
}

.nav-item .active {
  color: $dark-gray;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  nav {
    position: static;
  }
  .nav-container {
    background-color: $white;
    justify-content: flex-start;
  }
  .nav-logo {
    margin-left: 1rem;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: $white;
    width: 100%;
    margin-left: 0;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: $dark-gray;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: $dark-gray;
  }

  .cart-button {
    margin-left: 0;
    a {
      width: 50px;
      margin: 0 auto;
      span {
        top: 8px;
      }
    }
  }
  .user-logo {
    margin-bottom: 10px;
  }
}
