@import "../../../Styles/StyleData.scss";

.product-card {
  height: 400px;
  width: 300px;
  .product-info {
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-gray;
    color: $white;
    div {
      width: 230px;
    }
    .add-to-cart-btn {
      background-color: $light-gray;
      border: none;
      outline: none;
      cursor: pointer;
      .add-icon {
        font-size: 1.8rem;
        color: white;
        transition: all ease-in-out 200ms;
      }
    }
  }
  .product-image {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      display: block;
    }
  }
}
